* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
  text-decoration: none;
}

:root {
 /*Primary*/
--pale_blue: hsl(225, 100%, 94%);
--bright_blue: hsl(245, 75%, 52%);

/*Neutral*/
--very_pale_blue: hsl(225, 100%, 98%);
--desaturated_blue: hsl(224, 23%, 55%);
--dark_blue: hsl(223, 47%, 23%);
}

body {
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  max-width: 1440px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  max-width: 100%;
}

button {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;
  background-color: hsl(245, 75%, 52%);
}

p {
  font-size: 16px;
}

.container {
  background-color: white;
  padding: 0;
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 375px;
  height: auto;
  border-radius: 20px;
}

.item {
  padding: 0;
  margin: 0;
}

.items-1 svg {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
  padding: 0;
}

.items-2 {
  text-align: center;
  padding: 20px;
}

.items-3 {
  background-color: #eee;
  border-radius: 10px;
  margin: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-3 a {
  text-decoration: underline;
}

.items-4 {
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 600px) {
  body {
    background-image: url(/images/pattern-background-mobile.svg);
    background-size: cover;
  }
}

